<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs2ex1st">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CS2EX1ST">
        <activity
            android:name=".DisplayPatientsList"
            android:parentActivityName=".DoctorProfile"/>
        <activity
            android:name=".BookApptActivity"
            android:parentActivityName=".PatientProfile"/>
        <activity
            android:name=".PatientFutureAppt"
            android:parentActivityName=".PatientProfile"/>
        <activity
            android:name=".PatientPastAppt"
            android:parentActivityName=".PatientProfile"/>
        <activity
            android:name=".DoctorFutureAppt"
            android:exported="true"
            android:parentActivityName=".DoctorProfile"/>
        <activity
            android:name=".DoctorAvailableAppt"
            android:exported="true"
            android:parentActivityName=".DoctorProfile"/>
        <activity
            android:name=".DoctorPastAppt"
            android:exported="true"
            android:parentActivityName=".DoctorProfile"/>
        <activity
            android:name=".PatientProfile"
            android:exported="true" />
        <activity
            android:name=".DoctorProfile"
            android:exported="true" />
        <activity android:name=".SignUpSuccess" />
        <activity android:name=".PatientSignUp" />
        <activity android:name=".DoctorSignUp" />
        <activity android:name=".LogInActivity" />
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>